main.AboutUs{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 410px;
}

.title {
    
    text-align: center;
    font-family:Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #000000;

}

div.textAboutUs{
    margin: 36px 20px 36px 20px;
    text-align: center;
    letter-spacing: 0.150em;
    font-family: 'Darker Grotesque';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #070707;
}

.line {
    height: 5px;
    background-color: #2C5680;
    background-image: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
}