/* **** Estilos Globais **** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color:#000;
}

.link:after {
  display:block;
  content: '';
  border-bottom: solid 5px ;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%; 
}

.link:hover:after {
  transform: scaleX(0.75);
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text_center {
  text-align: center;
}

.alignCenter {
  align-items: center;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.justify_evenly {
  justify-content: space-evenly;
}

.show_md {
  display: none;
}

.showLg {
  display: none;
}

.gap30 {
  gap: 50px 50px;
}

/* ***** Estilo Cabeçalho **** */

.navigation_bar {
  position: relative;
  background-color: #85CDF5;
  padding: 20px 0px 10px 0px;
}


.container{
  margin: 0;
}


/* **** Hamburguer * ****/

.container_hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox-hamburguer {
  position: absolute;
  opacity: 0;
}

.hamburguer {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

.hamburguer .bar {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #000;
  transition: 0.25s ease-in-out;
}

.hamburguer .bar:nth-child(1) {
  top: 0;
}

.hamburguer .bar:nth-child(2) {
  top: 8px;
}

.hamburguer .bar:nth-child(3) {
  top: 16px;
}

#checkbox-hamburguer:checked+.hamburguer .bar:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-hamburguer:checked+.hamburguer .bar:nth-child(2) {
  opacity: 0;
}

#checkbox-hamburguer:checked+.hamburguer .bar:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

#checkbox-hamburguer:checked~.menu {
  display: block;
  transform: initial;
}

.menu .link {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.12px;
}

/* ***** Estilo Main **** */

main {
  min-height: 200px;
}

/* ***** Estilo Footer **** */

.footer{  
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.gap_footer {
  gap: 30px;
}

.infos_footer {
  max-width: 60%;
}

.content_item {
  margin-bottom: 16px;
}

.btn_footer {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: clamp(18px, 1vw, 25px);
  font-weight: 700;
  width: 100%;
  max-width: 144px;
  background-color: #DEB959;
  padding: 4px;
}

.text_footer {
  font-family: 'Darker Grotesque', sans-serif;
  margin-left: 8px;
}

.credit {
  width: 100%;
  text-align: center;
}

.text_credit {
  font-family: 'Darker Grotesque', sans-serif;
  margin-bottom: 16px;
}

.line {
  height: 5px;
  background-color: #2C5680;
  background-image: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
}

/* **** Media Querries**** */

@media (min-width:768px) {
  .show_md {
    display: block;
  }

  .credit {
    width: initial;
  }
}

@media (min-width: 992px) {

  .showLg {
    display: block;
  }

  .hideLg {
    display: none;
  }

  .wLg100 {
    width: 100%;
  }

  .justify_between_lg {
    justify-content: space-between;
  }

  .rowNoWrapLg {
    display: flex;
    justify-content: center;
  }

  .marginBtLg {
    margin-bottom: 26px;
  }

  .mBt70 {
    margin-bottom: 0px;
  }

  .menu {
    display: flex;
    transform: initial;
  }

  .gap_menu {
    gap: 32px;
  }

  
}