/* 
Theme Name: Wolfe Theme
Author: Thiago Araujo
Description: Primeito tema no WordPress
Version: 1
*/
/* **** Estilos Globais **** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
  }
  
  ul, ol {
    list-style-type: none;
   }
   
   a {
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     color:#000;
   }
  
   .link:after {
    display:block;
    content: '';
    border-bottom: solid 5px ;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%; 
  }
  
  .link:hover:after {
    transform: scaleX(0.75);
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .text_center {
    text-align: center;
  }
  
  .alignCenter {
    align-items: center;
  }
  
  .justify_center {
    justify-content: center;
  }
  
  .justify_between {
    justify-content: space-between;
  }
  
  .justify_evenly {
    justify-content: space-evenly;
  }
  
  .show_md {
    display: none;
  }
  
  .showLg {
    display: none;
  }
  
  .gap30 {
    gap: 50px 50px;
  }
  
  .linha1,
  .linha2 {
    margin-bottom: 100px;
  }
  
  /* ***** Estilo Cabeçalho **** */
  
  .navigation_bar {
    position: relative;
    background-color:#85CDF5;
    padding: 20px 0px 10px 0px;
  }
  
  
  /* **** Hamburguer * ****/
  
  .container_hamburguer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #checkbox-hamburguer {
    position: absolute;
    opacity: 0;
  }
  
  .hamburguer {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }
  
  .hamburguer .bar {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #000;
    transition: 0.25s ease-in-out;
  }
  
  .hamburguer .bar:nth-child(1) {
    top:0;
  }
  
  .hamburguer .bar:nth-child(2) {
    top:8px;
  }
  
  .hamburguer .bar:nth-child(3) {
    top:16px;
  }
  
  #checkbox-hamburguer:checked + .hamburguer .bar:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-hamburguer:checked + .hamburguer .bar:nth-child(2) {
    opacity: 0;
  }
  
  #checkbox-hamburguer:checked + .hamburguer .bar:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
  }
  
  #checkbox-hamburguer:checked ~ .menu {
    display: block;
    transform: initial;
  }
  
  .menu .link {
    font-size: 24px;
    font-weight: 400;
    line-height: 33.12px;
  }
  
  /* ***** Estilos Main **** */
  
  /* ***** Estilos Main Header **** */
  
  .header {
    background-image: url(../imagens/loboHeader.png);
    background-size: cover;
    background-position: center;
    padding: 30px 0;
  }
  
  .headerTitleContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;  
  }
  
  .headerTitle {
    color: #fff;
    font-size: 54px;
  }
  
  .headerTextContainer {
    width: 100%;
    text-align: center;  
  }
  
  .headerText {
    font-size: 21px;
    color: #fff;
  }
  
  /* ***** Estilos Main About **** */
  
  .about {
    background-color: #2C5680;
    padding: 30px 0;
  }
  
  .aboutTitleContainer {
    width: 100%;
    text-align: center;  
  
    margin-bottom: 15px;  
  }
  
  .aboutTitle {
    color: #DEB959;
    font-size: 32px;
  }
  
  .aboutTextContainer {
    width: 100%;
    text-align: center;  
  }
  
  .aboutText {
    color: #fff;
    font-size: 16px;
  }
  
  /* ***** Estilos Main Value **** */
  
  .values {
    background-color: #333;
    padding: 50px 0;
  }
  
  .valuesTitleContainer {
    width: 100%;
    text-align: center;
  
    margin-bottom: 15px;
  }
  
  .valuesTitle {
    color: #DEB959;
    font-size: 32px;
  }
  
  .valuesItems {
    text-align: center;
  }
  
  .subItemImg {
    background-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    padding: 10px;  
  }
  
  .subItemTitle {
    color: #fff;
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .subItemText {
    color:#fff;
    font-size: 16px;
  }
  
  .item {
    width: 195px;  
  }
  
  /* ***** Estilos Main Example **** */
  
  .example {
    background-color: #fff;
    padding: 30px 0;
  }
  
  .exampleTitleContainer {  
    width: 100%;
    text-align: center;
  
    margin-bottom: 50px;  
  }
  
  .exampleTitle {
    color: #DEB959;
    font-size: 28px;
  }
  
  .exampleImgContainer{
    margin-bottom: 8px;
    text-align: center;
  }
  
  .exampleImg,
  .exampleImg2 {
    width: 230px;
    height: 128px;  
    box-shadow: -20px -20px #2c5680;
  }
  
  .exampleNameContainer {
    margin-bottom: 8px;
  }
  
  .exampleName,
  .exampleName2 {
    font-size: 20px;  
    text-align: center;
  }
  
  .exampleAgeContainer {
    margin-bottom: 8px;
  }
  
  .exampleAge,
  .exampleAge2 {
    text-align: center;
  }
  
  .exampleTextContainer,
  .exampleTextContainer2 {
    text-align: center;
  }
  
  .exampleText,
  .exampleText2 {
    font-size: 14px;
    display: inline-block;
  }
  
  .mBt70 {
    margin-bottom: 70px;
  }
  
  /* ***** Estilo Footer **** */
  
  .line {
    height: 5px;
    background-color: #2C5680;
    background-image: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  .gap_footer {
    gap: 30px;
  }
  
  .infos_footer {
    max-width: 60%;
  }
  
  .content_item {
    margin-bottom: 16px;
  }
  
  .btn_footer {
    font-size: clamp(18px, 1vw, 25px);
    font-weight: 700;
    width: 100%;
    max-width: 144px;
    background-color: #DEB959;
    padding: 4px;
  }
  
  .text_footer {
    margin-left: 8px;
  }
  
  .credit {
    width: 100%;
    text-align: center;
  }
  
  .text_credit {
    margin-bottom: 16px;
  }
  
  
  
  /* **** Media Querries**** */
  
  @media (max-width:991px) {
    
    .navigation_bar{
      height: 120px;
    }   
  }
  
  
  @media (min-width:768px) {
    .show_md {
      display: block;
    }
  
    .credit {
      width: initial;
    }
  
    .headerContainer {
      max-width: 70%;
      margin: 0 auto;
    }
  }
  
  @media (min-width: 992px) {
  
    .showLg {
      display: block;
    }
  
    .hideLg{
      display: none;
    }
  
    .wLg100{
      width: 100%;
    }
  
    .justify_between_lg {
      justify-content: space-between;
    }
  
    .rowNoWrapLg {
      display: flex;
      justify-content: center;
    }
  
    .marginBtLg {
      margin-bottom: 26px;
    }
  
    .mBt70 {
      margin-bottom: 0px;
    }
  
    .menu {
      display: flex;
      transform: initial;
    }
  
    .gap_menu {
      gap: 32px;
    }
  
    .hamburguer{
      display: none;
    }
  
    .header {
      min-height: 500px;
      display: flex;
      align-items: center;
    }
    
    .headerContainer {
      max-width: 665px;
    }
  
    .headerTextContainer {
      display: flex;
      justify-content: center;
    } 
  
    .aboutTextContainer {
      display: flex;
      justify-content: center;
    }
  
    .subItemText {
      font-size: 16px;
    }
  
    .exampleImg {
      width: 330px;
      height: 228px;
      box-shadow: -40px -40px #2c5680;
    }
  
    .exampleImg2 {
      width: 330px;
      height: 228px;
      box-shadow: 40px -40px #2c5680;
    } 
    
    .linha1 {
      display: flex;
      justify-content: center;
      gap: 60px;
      margin-bottom: 100px;
    }
  
    .mBt100 {
      margin-bottom: 100px;
    }
  
    .exampleInfoContent {
      max-width: 461px
    }
  
    .exampleName {
      text-align: start;
    }
  
    .exampleAgeContainer {
      margin-bottom: 14px;
    }
  
    .exampleAge{
      text-align: start;
    }
  
    .exampleAge2{
      text-align: end;
    }
  
    .exampleTextContainer {
       text-align: start;
    }
  
    .exampleText {
      width: 100%;
    }
  
    .linha2 {
      display: flex;
      flex-direction: row-reverse;
      gap: 60px;
      justify-content: center;
      margin-bottom: 100px;
    }
  
    .exampleName2 {
      text-align: end;
    }
  
    .exampleTextContainer2 {
      text-align: end;
    }
  
    .exampleText2 {
       text-align: end;
    }
  }
  
  @media (min-width:1200px) {
    
    .header {
      padding: 120px 0px 140px 0;
    }
  
    .headerTitle {
      color: #fff;
      font-size: 96px;
    }
  
    .aboutText {
      font-size: 24px;    
    }  
  
    .headerText {    
      font-size: 30px;       
    }
  
    .about {
      padding: 30px 0 60px 0;
    }
  
    .aboutTitle {
      font-size: 48px;
    }
  
    .values {
      padding: 30px 0 90px 0;
    }
  
    .valuesTitle {
      font-size: 48px;
    }
  
    .subItemTitle {
      font-size: 34px;
    }
  
    .subItemText {
      font-size: 26px;
      width: 100%;
    }
  
    .subItemImg {
      background-color: #fff;
      border-radius: 50%;
      width: 190px;
      height: 190px;
      margin-bottom: 8px;
      padding: 25px;
    }
  
    .subItemTitle {
      font-size: 34px;
    }
  
    .subItemText {
      font-size: 20px;
    }
  
    .example {
      padding: 30px 0 120px 0;
    }
  
    .exampleTitleContainer{
      margin-bottom: 60px;
    }
  
    .exampleTitle {
      font-size: 48px;
    }
  
    .exampleImg {
      width: 430px;
      height: 328px;
      box-shadow: -40px -40px #2c5680;
    }
    
    .exampleImg2 {
      width: 430px;
      height: 328px;
      box-shadow: 40px -40px #2c5680;
    } 
  
    .exampleName,
    .exampleName2 {
      font-size: 36px;  
    }
  
    .exampleText,
    .exampleText2 {
      font-size: 20px;
    }
  }