/* **** Estilos Globais **** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
}

.showWolfe{
  cursor: pointer;
  border: none;
  background: none;
}

ul, ol {
  list-style-type: none;
 }
 
 a {
   text-decoration: none;
   font-family: Arial, Helvetica, sans-serif;
   color:#000;
 }

 .link:after {
  display:block;
  content: '';
  border-bottom: solid 5px ;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%; 
}

.link:hover:after {
  transform: scaleX(0.75);
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.text_center {
  text-align: center;
}

.alignCenter {
  align-items: center;
}

.justify_center {
  justify-content: center;
}

.justify_between {
  justify-content: space-between;
}

.justify_evenly {
  justify-content: space-evenly;
}

.show_md {
  display: none;
}

.showLg {
  display: none;
}

.gap30 {
  gap: 50px 50px;
}

/* ***** Estilo Cabeçalho **** */

.navigation_bar {
  position: relative;
  background-color:#85CDF5;
  padding: 20px 0px 10px 0px;

  height: 60px;
}


/* **** Hamburguer * ****/

.container_hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox-hamburguer {
  position: absolute;
  opacity: 0;
}

.hamburguer {
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

.hamburguer .bar {
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #000;
  transition: 0.25s ease-in-out;
}

.hamburguer .bar:nth-child(1) {
  top:0;
}

.hamburguer .bar:nth-child(2) {
  top:8px;
}

.hamburguer .bar:nth-child(3) {
  top:16px;
}

#checkbox-hamburguer:checked + .hamburguer .bar:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-hamburguer:checked + .hamburguer .bar:nth-child(2) {
  opacity: 0;
}

#checkbox-hamburguer:checked + .hamburguer .bar:nth-child(3) {
  transform: rotate(45deg);
  top: 8px;
}

#checkbox-hamburguer:checked ~ .menu {
  display: block;
  transform: initial;
}

.menu .link {
  font-size: 24px;
  font-weight: 400;
  line-height: 33.12px;
}

/* ***** Estilo Main **** */

main {
  min-height: 200px;
}

/* ***** Estilos Main Example **** */

.searchContainer {
  margin-bottom: 50px;
}

.searchWolf{
  width: 50%;
  border: 1px solid #333;
  padding: 4px 0;
}

.btnSearchWolf {
  background-color: #DEB959;
  padding: 4px 30px;
  border: none;
  margin-left: 20px;
}

.btnSearchWolf:hover {
  cursor: pointer;
}

.checkSearchWolf{
  display: inline-block;
  margin-top: 24px;
}

.checkText{
  margin-left: 12px;
}
  
.example {
  background-color: #fff;
  padding: 30px 0;
}

.exampleTitleContainer {  
  width: 100%;
  text-align: center;

  margin-bottom: 50px;  
}

.exampleTitle {
  color: #DEB959;
  font-size: 28px;
}

.exampleImgContainer{
  margin-bottom: 8px;
  text-align: center;
}

.exampleImg,
.exampleImg2 {
  width: 230px;
  height: 128px;  
  box-shadow: -20px -20px #2c5680;
}

.exampleNameContainer,
.exampleNameContainer2 {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.exampleName,
.exampleName2 {
  font-size: 20px;  
  text-align: center;
}

.btnExample {
  background-color: #DEB959;
  padding: 4px 30px;
  border: none;
  cursor: pointer;
}


.exampleAge,
.exampleAge2 {
  text-align: center;
}

.exampleTextContainer,
.exampleTextContainer2 {
  text-align: center;
}

.exampleText,
.exampleText2 {
  font-size: 14px;
  display: inline-block;
  width: 80%;
}

.mBt70 {
  margin-bottom: 70px;
}

/* ***** Paginação **** */
.pagination{  
  display: flex;
  justify-content: center;

  margin-bottom: 15px;  
}

.paginationButtons{
  background-color: #ccc;

  padding: 5px;
  border-radius: 4px;
}

li{
  padding: 3px;
}


.page-numbers{
  font-family: 'Darker Grotesque', sans-serif;
  
  display: flex;
  justify-content: center;
}

/* ***** Estilo Footer **** */

.line {
  height: 5px;
  background-color: #2C5680;
  background-image: linear-gradient(270deg, #2C5680 0%, #DEB959 100%);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.gap_footer {
  gap: 30px;
}

.infos_footer {
  max-width: 60%;
}

.content_item {
  margin-bottom: 16px;
}

.btn_footer {
  font-size: clamp(18px, 1vw, 25px);
  font-weight: 700;
  width: 100%;
  max-width: 144px;
  background-color: #DEB959;
  padding: 4px;
}

.text_footer {
  margin-left: 8px;
}

.credit {
  width: 100%;
  text-align: center;
}

.text_credit {
  margin-bottom: 16px;
}



/* **** Media Querries**** */

@media (max-width:991px) {
  .navigation_bar{
    height: 120px;
  }
}

@media (min-width:576px) {
  .searchWolf{
    width: 70%;
  } 
}

@media (min-width:768px) {
  .show_md {
    display: block;
  }

  .credit {
    width: initial;
  }
}

@media (min-width: 992px) {
  .mBt100Lg {
    margin-bottom: 100px;
  }

  .showLg {
    display: block;
  }

  .hideLg{
    display: none;
  }

  .wLg100{
    width: 100%;
  }

  .justify_between_lg {
    justify-content: space-between;
  }

  .rowNoWrapLg {
    display: flex;
    justify-content: center;
  }

  .marginBtLg {
    margin-bottom: 26px;
  }

  .mBt70 {
    margin-bottom: 0px;
  }

  .menu {
    display: flex;
    gap: 15px;
    transform: initial;
  }

  .menu:hover{
    font-weight: bold;

  }

  .gap_menu {
    gap: 32px;
  }

  .hamburguer{
    display: none;
  }
  
  .searchWolf{
    width: 85%;
  } 

  .aboutTextContainer {
    display: flex;
    justify-content: center;
  }

  .exampleImg {
    width: 330px;
    height: 228px;
    box-shadow: -40px -40px #2c5680;
  }

  .exampleImg2 {
    width: 330px;
    height: 228px;
    box-shadow: 30px -30px #2c5680;
  } 
  
  .linha1 {
    display: flex;
    gap: 20px;
  }

  .exampleInfoContent {
    display: flex;
    flex-direction: column;    
  }

  .exampleNameContainer {
    justify-content: space-between;
    gap: 0px;
  }

  .exampleName {
    text-align: start;
  }

  .exampleAge {
    text-align: start;
  }

  .exampleTextContainer {
     text-align: start;
  }

  .exampleText {
    width: 100%;
    font-size: 16px;
  }

  .linha2 {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }

  .exampleNameContainer2{
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0px;
  }

  .exampleName2 {
    text-align: end;
  }

  .exampleAge2 {
    text-align: end;
  }
  
  .exampleAgeContainer {
    margin-bottom: 14px;
  }
  .exampleAge2{
    text-align: end;
  }

  .exampleTextContainer2 {
    text-align: end;
  }

  .exampleText2 {
    text-align: end;
    width: 100%;
    font-size: 16px;
  }
}

@media (min-width:1200px) {  
  .example {
    padding: 30px 0 60px 0;
  }

  .exampleTitleContainer{
    margin-bottom: 60px;
  }

  .exampleTitle {
    font-size: 48px;
  }

  .exampleImg {
    width: 430px;
    height: 328px;
    box-shadow: -30px -30px #2c5680;
  }
  
  .exampleImg2 {
    width: 430px;
    height: 328px;
    box-shadow: 30px -30px #2c5680;
  } 

  .exampleName,
  .exampleName2 {
    font-size: 36px;  
  }

  .btnExample {
    margin: 10px 0 10px 0;
  }

  .exampleAge,
  .exampleAge2 {
    font-size: 16px;
  }
}

